<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reverse Learning English</title>
    <link rel="stylesheet" type="text/css" href="{{static_url('css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/wmd.css')}}">
</head>
<body>
    <header>
        {% block header %}{% end %}
    </header>
    <content>
        {% block body %}{% end %}
    </content>
    <footer>
        {% set website = "<a href='http://www.itdiffer.com'>WELCOME TO MY WEBSITE</a>" %}
        {% raw website %}
    </footer>
    <script src="{{static_url("js/jquery.min.js")}}"></script>
    <script src="{{static_url("js/script.js")}}"></script>
</body>
</html>
