<DOCTYPE html>
<html>
    <head>
        <title>Reverse Learn English</title>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h2>LOGIN</h2>
        <form>
            <p><span>UserName:</span><input type="TEXT" id="username" /></p>
            <p><span>Password:</span><input type="PASSWORD" id="password" /></p>
            <p><input type="BUTTON" value="LOGIN" id="login" /></p>
        </form>
        <script src="{{static_url("js/jquery.min.js")}}"></script>
        <script src="{{static_url("js/script.js")}}"></script>
    </body>
</html>
